<div class="main__content"></div>
<div class="left-sidebar">
  <div class="portfolio">
    <div class="portfolio__image">
      <img alt="123" src="/static/images/ninim.jpg" />
    </div>
    <div class="portfolio__text">
      <div class="portfolio__title">Zhirov Denis</div>
      <div class="portfolio__role">Rookie frontend developer</div>
    </div>
    <div class="portfolio__media">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="navigation"></div>
  <div class="share"></div>
</div>